<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">

  <!-- Container wrapper -->
  <div class="container-fluid">

     <!-- Navbar -->
     <a class="navbar-brand" href="#">
       <img src="../../../assets/img/icon.png" height="25" alt="samsung icon"/>
     </a>
     
    <button class ="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class ="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbar-menu">
     <ul class="navbar-nav me-auto fw-semibold">
       <li class="nav-item">
         <a class="nav-link" href="#">Home</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="#">Prodotti</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="#">Offerte</a>
       </li>
     </ul>
    </div>
  </div>

</nav>


